button{
    all: unset;
    display: flex;
    align-items: center;
    justify-self: end;
    gap: .75rem;
    padding: 1rem 1.25rem;
    background: var(--brand-dark);
    border-radius: .5rem;
    cursor: pointer;
    width: fit-content;
    

    font: var(--body-md);
    font-weight: 600;
    color: var(--text-heading);

}