.style {
    position: relative;
    input {
        all: unset;
        position: relative;
        inset: 0;
        position: relative;
        width: 4rem;
        height: 2rem;
        background-color: var(--input-base);
        border-radius: 999px;
        border: 2px solid var(--input-stroke);

        &::after{
            display: block;
            position: absolute;
            content: "Escuro";
            font: var(--body-sm);
            color: var(--text-heading);
            left: 100%;
            top: .5rem;
            margin-left: .5rem;
        }
    
    }

    input:checked::after{
        display: block;
        position: absolute;
        content: "Claro";
        font: var(--body-sm);
        color: var(--text-heading);
        left: 100%;
        top: .5rem;
        margin-left: .5rem;
    }

    
    &:has(input:checked) .switch-toggle{
        position: absolute;
        left:2.375rem;
        background: var(--text-heading);
    }
    
    input:checked {
        background: var(--brand-light);   

        
    }

    .switch-toggle {
        display: flex;
        position: absolute;
        left: .4rem;
        top: .35rem;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 999px;
        background: var(--input-stroke);
        
    }
}

.checks{
    display: grid;
    gap: .5rem;
    margin-bottom: 3rem;

    .input-wrapper{
        display: flex;

        input{
            all: unset;
            width: 1rem;
            height: 1rem;
            background: var(--input-base);
            border-radius: .25rem;  
            border: 1px solid var(--input-stroke);
            
            &:checked{
                background-image: url(../../assets/icons/check.svg);
                background-size: cover;
                background-repeat: no-repeat;
                outline: 1px solid var(--brand-light);   
            }

            &:focus{
                outline: 1px solid var(--brand-light);   
            }
        }
    }

    &::before{
        position: relative;
        content: "";
        height: 1px ;
        width: 100%;
        background-color: var(--input-stroke);
        margin-bottom: 2.5rem;
    }
}

a{
    color: var(--brand-light);
}