input, textarea, .radio-wrapper{
    border: none;
    background-color: var(--input-base);
    border: 1px solid var(--input-stroke);
    padding: 1rem;
    border-radius: .5rem;
    color: var(--text-body);

    &:focus{
        outline: 2px solid var(--brand-light);
    }
}

.flex .input-wrapper{
    flex: 1;
}

#description{
    height: 8.625rem;
}
